<%- include('partials/header'); -%>

<h1>Compose</h1>
<form action="/compose" method="post">
    <label for="formTitle" class="form-label">Title</label>
    <input class="form-control" type="text" name="title" id="formTitle">
    <label for="formContent" class="form-label">Post</label>
    <textarea class="form-control" type="text" name="content" id="formContent" rows="5"></textarea>
    <button class="btn btn-secondary btn-lg mt-3" type="submit">Publish</button>

</form>

<%- include('partials/footer'); -%>